/* CSS color variablen */
:root {
  --col-winter: rgb(34, 168, 251);
  --col-summer: green;
  --alpha-rainbow: 0.15;

  --col-border-primary: black;

  --col-bg-primary: antiquewhite;
  --col-bg-content: antiquewhite;

  --col-bg-primary-small-display: antiquewhite;
  --col-bg-content-small-display: antiquewhite;

  --background-text: rgba(255, 255, 255, 0.50);

  --col-bg-content-important: rgb(252, 227, 208);
  --col-text: black;

  --col-link: dodgerblue;
  --col-link-hover: darkblue;
  --col-link-visited: mediumvioletred;

  --background-card-color-summer: rgba(0, 91, 9, 0.5);
  --background-card-color-winter: rgba(34, 168, 251, 0.5);

  --margin-top-section: 150px;

  --shiny-shadow: 0 5px 5px rgba(0, 0, 0, 0.3),
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 10px 10px rgba(0, 0, 0, 0.05);

  --shiny-shadow-around: 0 0 10px rgba(0, 0, 0, 0.4),
    0 0 13px rgba(0, 0, 0, 0.2),
    0 0 16px rgba(0, 0, 0, 0.1);


}

@media (prefers-color-scheme: dark) {
  :root {
    --col-bg-primary: #1e1e1e;
    --col-bg-content: #2a2a2a;


    --col-winter: orangered;
    --col-summer: orangered;


    --col-border-primary: orangered;

    --col-bg-primary-small-display: #1e1e1e;
    --col-bg-content-small-display: #2a2a2a;

    --background-text: rgba(38, 38, 38, 0.25);

    --col-bg-content-important: rgb(45, 30, 30);
    --col-text: rgb(224, 224, 224);
    --col-link: rgb(210, 210, 255);
    --col-link-hover: salmon;
    --col-link-visited: lightsalmon;

    --shiny-shadow: 0 5px 5px rgba(255, 68, 0, 0.3),
      0 8px 8px rgba(255, 68, 0, 0.1),
      0 10px 10px rgba(255, 68, 0, 0.05);
    --shiny-shadow-around: 0 0 10px rgba(255, 68, 0, 0.4),
      0 0 13px rgba(255, 68, 0, 0.2),
      0 0 16px rgba(255, 68, 0, 0.1);

    --background-card-color-summer: rgba(0, 93, 9, 0.5);
    --background-card-color-winter: rgba(2, 86, 138, 0.5);


  }
}