
body {
  font-family: 'Segoe UI', sans-serif;

}

.header {
  display: flex;
  align-items: center;
  z-index: 1000;
  position: relative;
  min-height: 250t;
  height: auto;
  max-height: 350pt;
  background: linear-gradient(135deg, rgb(255, 255, 255) 430px, rgb(237, 124, 2) 430px);
  color: white;
  text-shadow:
    -1px -1px 0 #a04000,
    1px -1px 0 #145a32,
    -1px 1px 0 #a04000,
    1px 1px 0 #145a32;
  animation: slideInWithTail 2s ease-out forwards;
  opacity: 0;
}

.slogan {
  display: flex;
  justify-content: right;
  width: 100%;
  font-size: 2.5em;
  font-weight: 500;
  margin-right: 15px;
}

#logo {
  display: flex;
  z-index: 999;
  position: relative;
  justify-content: left;
  width: 280pt;
  height: auto;
  transition: all 0.6s ease-in-out;
}

.scrolled #logo {
  position: fixed;
  top: 10px;
  right: 15px;
  width: 180px;
}


.outer-space{
  padding: 10px 10px 0 10px;
}

.content {
  width: 100%;
  padding: 10px;
  margin: auto;
  background-image: none;
}

@media (min-width: 1200px) {
  .content {
    background-image: url('./images/background-content.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 30% auto;
    background-clip: padding-box;
    }

  .content-list{
    width: 68% !important;
    max-width: 1400px;
  }
  
}

h2 {
  border-left: 5px solid orangered;
  padding-left: 10px;
  margin-top: 40px;
  font-weight: 600;
  color: green;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 5px 0 5px;
  width: 100%;
  max-width: 1000px;
}

.content-list{
  width: 100%;
  max-width: 1400px;
}

li {
  background-color: white;
  margin: 10px;
  padding: 15px;
  border-left: 5px solid green;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2), -5px 0 10px rgba(0, 0, 0, 0.2);
}

li:hover {
  background-color: #f0fff0;
  transform: translateX(5px);
}

.footer {
  color: black;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}


.footer-card {
text-shadow: 
  0 0 3px #ffffff,
  0 0 6px #6cc7ff;
  position: relative;
  text-align: left;
  padding: 0pt;
  margin-top: 30px;
  width: 95%;
  max-width: 325pt;
  background: 
    repeating-linear-gradient(
      135deg,
      rgba(255, 128, 64, 0.3) 0,
      rgba(255, 128, 64, 0.3) 1px,
      transparent 2px,
      transparent 20px
    ),
    repeating-linear-gradient(
      45deg,
      rgba(255, 128, 64, 0.3) 0,
      rgba(255, 128, 64, 0.3) 1px,
      transparent 2px,
      transparent 20px
    ),
    linear-gradient(
      to bottom left,
      rgba(255, 128, 64, 0.5) 0%,
      #fff5eb 60%
    );
  clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 100px, 100% 100%, 0 100%);
  border-left: 4px solid orangered;
  border-right: 4px solid orangered;
  border-top:  1px solid orangered;
  border-bottom: 1px solid orangered;

  opacity: 0;
  transform: translateY(40px);
  transition: opacity 1.5s ease-out, transform 3s ease-out;
}

.footer-card.visible {
  opacity: 1;
  transform: translateY(0);

}

.footer-card::after {
  content: "";
  position: absolute;
  bottom: 25pt;
  right: -5px;
  width: 100px;
  height: 100px;
  z-index: -1;
  background-image: url('./svg/Heckenschere.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.hidden-link {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 2s ease-out, transform 4s ease-out;
}

.hidden-link.visible {
  font-size: 1.3rem;
  opacity: 1;
  transform: translateY(0);
  font-weight: it; 
  color: rgb(255, 0, 89);
}

.footer a {
  color: #007acc;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.5em;
  width: 90%;

}

.intro {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

address {
  color: #000000;
  font-style: normal;
  font-size: 0.9em;
  margin-top: 15px;
}





/* Mobile-Ansicht -----------------*/
@media (max-width: 900px) {

  .slogan {
    justify-content: center;
    font-size: 1.4rem;
    font-style: italic;
    color: #000000;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 900;
    position: relative;
    min-height: 150pt;
    height: auto;
    max-height: 250pt;
    background: linear-gradient(to bottom right, rgba(250,250,250,0.7), rgba(200,200,200,0.25));
    border-bottom: 3px solid orangered;
    border-bottom-right-radius: 85px;
    text-shadow: none;
    animation: slideInWithTail 2s ease-out forwards;
    opacity: 0;
  }

  ul{
    padding: 0 !important;
    width: 100%;
  }

  #logo {
    z-index: 999;
    width: 280pt;
    height: auto;
  }

  .scrolled #logo {
    width: 120pt;
    height: auto;
  }

  .content-list{
    padding: 5px;
  }

}

@keyframes slideInWithTail {
  0% {
    right: -100%;
    /* Start außerhalb des Bildschirms */
    opacity: 0;
  }

  70% {
    right: 10%;
    opacity: 1;
  }

  100% {
    right: 0;
    /* Endposition */
    opacity: 1;
  }
}


/* Dunkle Pfeile */
.carousel-control-prev-icon {
  background-image: none !important;
  border: solid 3px black;
  border-width: 0 3px 3px 0;
  transform: rotate(135deg);
}

/* Dunkle Pfeile */
.carousel-control-next-icon {
  background-image: none !important;
  border: solid 3px black;
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-image: none;
  border-color: orangered;
}

.basic-shadow{
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2), 0 -8px 20px rgba(0, 0, 0, 0.2), 8px 0 20px rgba(0, 0, 0, 0.2), -8px 0 20px rgba(0, 0, 0, 0.2);

}



