/* CSS color variablen */
:root {
  --col-winter: rgb(34, 168, 251);
  --col-summer: green;
  --alpha-rainbow: 0.15;

  --col-bg-primary: rgb(252, 232, 199);
  --col-bg-content: rgb(252, 227, 208);

  --col-bg-primary-small-display: white;
  --col-bg-content-small-display: white;

  --col-bg-content-important: rgb(252, 227, 208);

}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--col-bg-primary) !important;
  cursor: url('./Heckenschere_cursor.png'), auto;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}


.header {
  display: flex;
  align-items: center;
  z-index: 1000;
  position: relative;
  min-height: 35vh;
  height: auto;
  background: linear-gradient(135deg, rgb(247, 216, 178) 60vh, rgb(237, 124, 2) 60vh);
  color: white;
  text-shadow:
    -1px -1px 0 #a04000,
    1px -1px 0 #145a32,
    -1px 1px 0 #a04000,
    1px 1px 0 #145a32;
  animation: slideInWithTail 2s ease-out forwards;
  width: 100%;
}

.slogan {
  display: flex;
  flex-direction: row;
  align-items: end;
  text-align: end;
  justify-content: center;
  width: 100%;
  font-size: 2.3rem;
  font-weight: 500;
  margin-right: 2%;
  margin-bottom: 0;
}

.logo-link {
  display: flex;
  position: relative;
  z-index: 999;
  justify-content: left;
  padding-left: 15px;
  padding-right: 15px;
  height: 33vh;
  transition: all 1s ease-in-out;
  text-decoration: none;
}

#logo {
  height: 100%;
  width: auto;
}


@keyframes logoJump {
  from {
    transform: translate(-90vw, -10px) scale(1.8);
  }

  to {
    transform: translate(0, 0) scale(1);
  }
}

.scrolled #logo {
  position: fixed;
  top: 10px;
  right: 15px;
  width: 180px;
  height: 80px;
  animation: logoJump 1s ease-in-out;

}

.outer-space {
  padding: 10px 10px 0 10px;
}

.content {
  width: 100%;
  padding: 10px;
  margin: auto;
  background-color: var(--col-bg-content);
  background-image: url('./images/Rosenranke.png'), url('./images/Schneeschaufel.png');
  background-position: bottom 320px right, bottom right;
  background-repeat: no-repeat;
  background-color: none;
  background-size: 15% auto, 15% auto;
}

/*-------------------Large Screens -----------------------------  */

@media (min-width: 1200px) {


  .slogan {
    font-size: 3.2rem;
  }

  .content {
    background-image: url('./images/background-content.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 30% auto;
    background-clip: padding-box;
    background-color: var(--col-bg-content);
  }

  .content-list {
    width: 68% !important;
    max-width: 1400px;
  }

}

/*------------------- END OF Large Screens -----------------------------  */

.content-header {
  padding-left: 10px;
  margin-top: 40px;
  font-weight: 600;
}


.summer_h {
  color: rgb(195, 52, 0);
  border-left: 5px solid rgb(195, 52, 0);
}

.winter_h {
  color: blueviolet;
  border-left: 5px solid blueviolet;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 5px 0 5px;
  width: 100%;
  max-width: 1000px;
}

.content-list {
  width: 88%;
  max-width: 1400px;
}

li {
  background-color: rgba(255, 255, 255, 0.45);
  margin: 10px;
  padding: 15px;
  border-radius: 10px 35px 10px 35px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2), -5px 0 10px rgba(0, 0, 0, 0.2);
}

.winter li {
  border-left: 5px solid var(--col-winter);
}

.summer li {
  border-left: 5px solid var(--col-summer);
}

li:hover {
  background-color: #f0fff0;
  transform: translateX(5px);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.footer-bg-wood {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: max-content;
  background-image: url('./images/footer-wood.png');
  background-size: contain;
  background-repeat: repeat-x;
}

.footer-card {
  text-shadow:
    0 0 3px #ffffff,
    0 0 6px #6cc7ff;
  position: relative;
  text-align: left;
  padding: 0pt;
  margin-top: 30px;
  width: 95%;
  max-width: 420px;
  background:
    repeating-linear-gradient(135deg,
      rgba(255, 128, 64, 0.3) 0,
      rgba(255, 128, 64, 0.3) 1px,
      transparent 2px,
      transparent 20px),
    repeating-linear-gradient(45deg,
      rgba(255, 128, 64, 0.3) 0,
      rgba(255, 128, 64, 0.3) 1px,
      transparent 2px,
      transparent 20px),
    linear-gradient(to bottom left,
      rgb(251, 165, 122) 0%,
      #fff5eb 60%);
  border-left: 4px solid orangered;
  border-right: 4px solid orangered;
  border-top: 1px solid orangered;
  border-bottom: 1px solid orangered;
  opacity: 0;
  transform: translateY(40px) rotate(-8deg);
  transition: opacity 1.5s ease-out, transform 3s ease-out;
  overflow: visible;
}

.footer-card::before {
  content: "";
  width: 300px;
  height: 300px;
  position: absolute;
  bottom: 0px;
  left: -100px;
  background-image: url('./images/hand.PNG');
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 1;
  transform: translateY(40px) scale(1);
  /* <- hier Handposition & Größe einstellen */
  transition: opacity 3s ease-out 3s, transform 3s ease-out;
  pointer-events: none;
  z-index: 1500;
}

.footer-card.visible {
  opacity: 1;
  transform: translateY(0) rotate(-3deg);
}

.footer-card.visible::before {
  opacity: 0;
  transform: translateY(0);
}

.footer-card::after {
  content: "";
  position: absolute;
  bottom: 25pt;
  right: -5px;
  width: 100px;
  height: 100px;
  z-index: -1;
  background-image: url('./svg/Heckenschere.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.hidden-link {
  opacity: 0;
  color: rgb(255, 0, 89) !important;
  transform: translateY(40px);
  font-size: 1.25rem;
  transition: opacity 2s ease-out, transform 4s ease-out;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hidden-link.visible {
  opacity: 1;
  transform: translateY(0);

}

.footer-link {
  color: blue;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.footer-link:hover,
.footer-whiteLink:hover {
  text-decoration: underline;
}

.footer-link:visited {
  color: purple;

}

.footer-link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.25em;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;

}

.intro {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

address {
  color: #000000;
  font-style: normal;
  font-size: 0.9em;
  margin-top: 15px;
}

.card-icon {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.6rem;
  /* Font Size Daniel Schriftzug */
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 3.2rem;
  /* Large Displays Font Size Slogan */
  color: silver;
  opacity: 0;
  animation: cardAppearing 2s ease 2s forwards;
  transition: transform 0.3s ease, color 0.3s ease;
}

.card-icon:hover {
  transform: scale(1.2);
}

@keyframes cardAppearing {
  to {
    opacity: 1;
  }
}

/* ----------------------- MOBILE VIEW MEDIA QUERY VERY SMALL DISPLAYS------------------------------*/

@media (max-width: 600px) {

  .content {
    background-color: var(--col-bg-content-small-display);
    background-image: none;
  }

  .content-list {
    width: 100% !important;
  }

}

/* ----------------------- END OF MOBILE VIEW MEDIA QUERY VERY SMALL DISPLAYS------------------------------*/

/* ----------------------- MOBILE VIEW MEDIA QUERY SMALL DISPLAYS------------------------------*/
@media (max-width: 1200px) {

  body {
    background-color: var(--col-bg-primary-small-display) !important;
  }

  .content {
    background-color: var(--col-bg-content-small-display);
  }

  .slogan {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 1.3rem;
    font-style: italic;
    color: darkgreen;
    font-weight: 800;
    margin: 0;
    text-align: center;
    margin-top: 25px;
  }

  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    height: auto;
    width: 100%;
    z-index: 900;
    text-shadow: none;
    opacity: 0;
    background: linear-gradient(to bottom,
        rgba(0, 156, 255, 1) 0%,
        rgba(76, 180, 255, 1) 15%,
        rgba(161, 212, 240, 1) 30%,
        rgba(255, 255, 255, 0) 49%,
        rgba(255, 255, 255, 0) 51%,
        rgba(148, 208, 102, 1) 65%,
        rgba(112, 188, 59, 1) 80%,
        rgba(79, 168, 43, 1) 100%
      );
      
    animation: appearingHeader 2s ease-in forwards !important;
    -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 82%, rgba(0, 0, 0, 0.1) 98%);
    mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 75%, rgba(0, 0, 0, 1) 82%, rgba(0, 0, 0, 0.1) 98%);
  }

  .scrolled .header {
    -webkit-mask-image: none !important;
    mask-image: none !important;
  }



  @keyframes appearingHeader {
    0% {
      right: 0 !important;
      opacity: 0;
    }

    70% {
      opacity: 0.8;
    }

    100% {
      opacity: 1;
    }
  }

  .slogan::before {
    content: "";
    width: 50px;
    height: 50px;
    position: relative;
    background:
      url('./svg/flower.svg') 5px 5px / 40px 40px no-repeat;
    opacity: 0;
    z-index: 1500;
    animation: flowerShow 1s ease-in 1.5s forwards;
  }

  @keyframes flowerShow {
    to {
      opacity: 1;
    }
  }


  .header::after {
    content: "";
    position: absolute;
    inset: 0;
    max-width: 500px;
    left: 50%;
    transform: translateX(-50%);
    background:
      radial-gradient(ellipse at 50% 50%,
        transparent 58%,
        rgba(255, 0, 0, var(--alpha-rainbow)) 60%, rgba(255, 0, 0, var(--alpha-rainbow)) 61.25%,
        rgba(255, 165, 0, var(--alpha-rainbow)) 61.25%, rgba(255, 165, 0, var(--alpha-rainbow)) 62.5%,
        rgba(255, 255, 0, var(--alpha-rainbow)) 62.5%, rgba(255, 255, 0, var(--alpha-rainbow)) 63.75%,
        rgba(0, 128, 0, var(--alpha-rainbow)) 63.75%, rgba(0, 128, 0, var(--alpha-rainbow)) 65%,
        rgba(0, 0, 255, var(--alpha-rainbow)) 65%, rgba(0, 0, 255, var(--alpha-rainbow)) 66.25%,
        rgba(75, 0, 130, var(--alpha-rainbow)) 66.25%, rgba(75, 0, 130, var(--alpha-rainbow)) 67.5%,
        rgba(238, 130, 238, var(--alpha-rainbow)) 67.5%, rgba(238, 130, 238, 0) 68.75%,
        transparent 70.75%);

    mask-image: linear-gradient(to bottom, black 0%, black 28%, transparent 40%);
    -webkit-mask-image: linear-gradient(to bottom, black 0%, black 28%, transparent 40%);

    pointer-events: none;
    z-index: -1;
    width: 100%;
    max-width: 500px;
  }


  #contact-jump {
    display: none !important;
  }


  ul {
    padding: 0 !important;
    width: 100%;
  }

  .logo-link {
    justify-content: center;
    width: 80%;
    height: auto;
    max-height: 250px;
    padding: 0;
  }

  #logo {
    width: 100%;
    height: auto;
  }


  .content-list {
    padding: 5px;
  }

  .footer-card {
    transform: translateY(40px);
  }

  .footer-card.visible {
    transform: translateY(0px);
  }



}


/*-----------------------END OF MOBIELE VIEW MEDIA QUERY-------------------------------*/

@keyframes slideInWithTail {
  0% {
    right: -100%;
    /* Start außerhalb des Bildschirms */
    opacity: 0;
  }

  70% {
    right: 10%;
    opacity: 1;
  }

  100% {
    right: 0;
    /* Endposition */
    opacity: 1;
  }
}


/* Dunkle Pfeile */
.carousel-control-prev-icon {
  background-image: none !important;
  border: solid 3px black;
  border-width: 0 3px 3px 0;
  transform: rotate(135deg);
}

/* Dunkle Pfeile */
.carousel-control-next-icon {
  background-image: none !important;
  border: solid 3px black;
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-image: none;
  border-color: orangered;
}

.basic-shadow {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2), 0 -8px 20px rgba(0, 0, 0, 0.2), 8px 0 20px rgba(0, 0, 0, 0.2), -8px 0 20px rgba(0, 0, 0, 0.2);

}

.datenschutz-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  padding-bottom: 30px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: left;
  background-color: var(--col-bg-content-important);
}

.datenschutz-content * {
  width: 95%;
}

.datenschutz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

}