body {
  font-family: 'Segoe UI', sans-serif;
  background-color: snow !important;

}

.header {
  display: flex;
  align-items: center;
  z-index: 1000;
  position: relative;
  min-height: 250t;
  height: auto;
  max-height: 350pt;
  background: linear-gradient(135deg, snow 430px, rgb(237, 124, 2) 430px);
  color: white;
  text-shadow:
    -1px -1px 0 #a04000,
    1px -1px 0 #145a32,
    -1px 1px 0 #a04000,
    1px 1px 0 #145a32;
  animation: slideInWithTail 2s ease-out forwards;
  opacity: 0;
}

.slogan {
  display: flex;
  justify-content: right;
  width: 100%;
  font-size: 2.5em;
  font-weight: 500;
  margin-right: 15px;
}

#logo {
  display: flex;
  z-index: 999;
  position: relative;
  justify-content: left;
  width: 280pt;
  height: auto;
  transition: all 0.6s ease-in-out;
}

.scrolled #logo {
  position: fixed;
  top: 10px;
  right: 15px;
  width: 180px;
}


.outer-space {
  padding: 10px 10px 0 10px;
}

.content {
  width: 100%;
  padding: 10px;
  margin: auto;
  background-image: none;
}

@media (min-width: 1200px) {
  .content {
    background-image: url('./images/background-content.png');
    background-position: right center;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 30% auto;
    background-clip: padding-box;
  }

  .content-list {
    width: 68% !important;
    max-width: 1400px;
  }

}

.content-header {
  border-left: 5px solid orangered;
  padding-left: 10px;
  margin-top: 40px;
  font-weight: 600;
  color: green;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0 5px 0 5px;
  width: 100%;
  max-width: 1000px;
}

.content-list {
  width: 100%;
  max-width: 1400px;
}

li {
  background-color: white;
  margin: 10px;
  padding: 15px;
  border-left: 5px solid green;
  border-radius: 10px 35px 10px 35px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 -5px 10px rgba(0, 0, 0, 0.2), 5px 0 10px rgba(0, 0, 0, 0.2), -5px 0 10px rgba(0, 0, 0, 0.2);
}

li:hover {
  background-color: #f0fff0;
  transform: translateX(5px);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.footer-bg-wood{
  background-image: url('./images/platte2.jpg');
  background-size: cover;
}

.footer-card {
  text-shadow:
    0 0 3px #ffffff,
    0 0 6px #6cc7ff;
  position: relative;
  text-align: left;
  padding: 0pt;
  margin-top: 30px;
  width: 95%;
  max-width: 325pt;
  background:
    repeating-linear-gradient(135deg,
      rgba(255, 128, 64, 0.3) 0,
      rgba(255, 128, 64, 0.3) 1px,
      transparent 2px,
      transparent 20px),
    repeating-linear-gradient(45deg,
      rgba(255, 128, 64, 0.3) 0,
      rgba(255, 128, 64, 0.3) 1px,
      transparent 2px,
      transparent 20px),
    linear-gradient(to bottom left,
      rgb(251, 165, 122) 0%,
      #fff5eb 60%);
  clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 100px, 100% 100%, 0 100%);
  border-left: 4px solid orangered;
  border-right: 4px solid orangered;
  border-top: 1px solid orangered;
  border-bottom: 1px solid orangered;

  opacity: 0;
  transform: translateY(40px) rotate(-8deg);
  transition: opacity 1.5s ease-out, transform 3s ease-out;
}

.footer-card.visible {
  opacity: 1;
  transform: translateY(0) rotate(-3deg);

}

.footer-card::after {
  content: "";
  position: absolute;
  bottom: 25pt;
  right: -5px;
  width: 100px;
  height: 100px;
  z-index: -1;
  background-image: url('./svg/Heckenschere.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.hidden-link {
  opacity: 0;
  color: rgb(255, 0, 89) !important;
  transform: translateY(40px);
  font-size: 1.3rem;
  transition: opacity 2s ease-out, transform 4s ease-out;
  font-style: italic;
  margin-top: 20px;
}

.hidden-link.visible {
  opacity: 1;
  transform: translateY(0);

}


.footer-whiteLink{
  color: white;
}

.footer-whiteLink:visited {
  color: rgb(220, 0, 220);

}

.footer-link {
  color: blue;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.footer-link:hover, .footer-whiteLink:hover {
  text-decoration: underline;
}

.footer-link:visited{
  color: purple;

}

.footer-link-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 1.5em;
  width: 90%;
  margin-top: 30px;
  padding-bottom: 30px;
}

.intro {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 4px;
}

address {
  color: #000000;
  font-style: normal;
  font-size: 0.9em;
  margin-top: 15px;
}





/* ----------------------- MOBILE VIEW MEDIA QUERY ------------------------------*/
@media (max-width: 900px) {

  .slogan {
    justify-content: center;
    font-size: 1.4rem;
    font-style: italic;
    color: #000000;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 900;
    position: relative;
    min-height: 150pt;
    height: auto;
    max-height: 250pt;
    text-shadow: none;
    animation: slideInWithTail 1.5s ease-out forwards;
    opacity: 0;
    background: none;
  }

.header::before {
  content: "";
  position: absolute;
  bottom: 0px; 
  left: 0;
  width: 100%;
  height: 100%; 
  background: 
    /* Erste Reihe (tiefer) */
    url('./svg/flower.svg') 25% 73% / 30px 30px no-repeat,
    url('./svg/flower.svg') 30% 74% / 24px 24px no-repeat,
    url('./svg/flower.svg') 34% 76% / 28px 28px no-repeat,
    
    /* Zweite Reihe (mittlere Höhe) */
    url('./svg/flower.svg') 41% 76% / 25px 25px no-repeat,
    url('./svg/flower.svg') 47% 75% / 23px 23px no-repeat,
    url('./svg/flower.svg') 53% 74% / 27px 27px no-repeat,
    
    /* Dritte Reihe (höher) */
    url('./svg/flower.svg') 59% 75% / 30px 30px no-repeat,
    url('./svg/flower.svg') 64% 73% / 30px 30px no-repeat,
    url('./svg/flower.svg') 69% 74% / 24px 24px no-repeat,
    url('./svg/flower.svg') 75% 73% / 30px 30px no-repeat;
  opacity: 0;
  z-index: 10;
  animation: flowerShow 1s ease-in 1.5s forwards;
}

    @keyframes flowerShow {
    to {
      opacity: 1;
    }
  }


  .header::after {
    content: "";
    position: absolute;
    inset: 0;
    background:
      radial-gradient(ellipse at 50% 40%,
        rgba(255, 255, 255, 1) 55%,
        transparent 60%),
      repeating-linear-gradient(135deg,
        rgba(21, 133, 1, 0.3) 0,
        rgba(21, 133, 1, 0.3) 1px,
        transparent 2px,
        transparent 20px),
      repeating-linear-gradient(45deg,
        rgba(21, 133, 1, 0.3) 0,
        rgba(21, 133, 1, 0.3) 1px,
        transparent 2px,
        transparent 20px);
    border-bottom: 3px solid darkgreen;
    opacity: 0;
    animation: fenceFadeIn 1s ease-in 2.3s forwards;
    z-index: -1;
  }

  @keyframes fenceFadeIn {
    to {
      opacity: 1;
    }
  }

  ul {
    padding: 0 !important;
    width: 100%;
  }

  #logo {
    z-index: 999;
    width: 280pt;
    height: auto;
  }

  .scrolled #logo {
    width: 120pt;
    height: auto;
  }

  .content-list {
    padding: 5px;
  }

  .footer-card{
      transform: translateY(40px);
  }
  .footer-card.visible{
      transform: translateY(0px);
  }


}

/*-----------------------END OF MOBIELE VIEW MEDIA QUERY-------------------------------*/

@keyframes slideInWithTail {
  0% {
    right: -100%;
    /* Start außerhalb des Bildschirms */
    opacity: 0;
  }

  70% {
    right: 10%;
    opacity: 1;
  }

  100% {
    right: 0;
    /* Endposition */
    opacity: 1;
  }
}


/* Dunkle Pfeile */
.carousel-control-prev-icon {
  background-image: none !important;
  border: solid 3px black;
  border-width: 0 3px 3px 0;
  transform: rotate(135deg);
}

/* Dunkle Pfeile */
.carousel-control-next-icon {
  background-image: none !important;
  border: solid 3px black;
  border-width: 0 3px 3px 0;
  transform: rotate(-45deg);
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-image: none;
  border-color: orangered;
}

.basic-shadow {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2), 0 -8px 20px rgba(0, 0, 0, 0.2), 8px 0 20px rgba(0, 0, 0, 0.2), -8px 0 20px rgba(0, 0, 0, 0.2);

}